{% extends 'berita/base.html' %}
{% block content %}
<div class="container py-4">
<p><h2>REDAKSI</h2></p>
<p><h2>SUSUNAN REDAKSI:</h2></p>
<table border="0">
    <tr>
        <td>Direktur</td>
        <td>:</td>
        <td>Amirul Mukminin</td>
    </tr>
    <tr>
        <td>Pemimpin Redaksi</td>
        <td>:</td>
        <td>Amirul Mukminin</td>
    </tr>
    <tr>
        <td>Redaktur</td>
        <td>:</td>
        <td>Faisal, Syukran H.</td>
    </tr>
    <tr>
        <td>Editor</td>
        <td>:</td>
        <td>Syukran, A. Siddik</td>
    </tr>
    <tr>
        <td>Wartawan</td>
        <td>:</td>
        <td>Khofifah, Viqri FS.</td>
    </tr>
    <tr>
        <td>IT</td>
        <td>:</td>
        <td>Firman A.</td>
    </tr>
    <tr>
        <td>Penerbit</td>
        <td>:</td>
        <td>PT. Kabar Media Creativa Advertisindo</td>
    </tr>
    <tr>
        <td>Alamat Redaksi</td>
        <td>:</td>
        <td>Jl Adirasa Gg P17, Kota Sumenep, Kab. Sumenep, Jawa Timur 69417</td>
    </tr>
    <tr>
        <td>Telp</td>
        <td>:</td>
        <td>0877 2967 2707</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>:</td>
        <td>redaksi@kabarpemerintah.com</td>
    </tr>
</table>
</div>
{% endblock %}
