{% extends 'berita/base.html' %}
{% block content %}
<div class="container py-4">
<p><h2>REDAKSI</h2></p>
<p>Badan Hukum :</p>
<p>AHU-0048816.AH.01.02. Tahun 2026</p>
<p>Nomor Izin Berusaha : 2007260075482</p>
<br>
<p>Notaris :</p>
<p>Naghfir, S.H.I.,S.H.,M.Kn</p>
<p>Nomor : AHU-00501. AH.02.01 Tahun 2021</p>
<p>Tanggal 05 November 2021</p>
<p><h2>SUSUNAN REDAKSI:</h2></p>
<table border="0">
    <tr>
        <td>Direktur</td>
        <td>:</td>
        <td>Amirul Mukminin</td>
    </tr>
    <tr>
        <td>Pemimpin Redaksi</td>
        <td>:</td>
        <td>Amirul Mukminin</td>
    </tr>
    <tr>
        <td>Redaktur</td>
        <td>:</td>
        <td>Faisal, Syukran H.</td>
    </tr>
    <tr>
        <td>Editor</td>
        <td>:</td>
        <td>Syukran, A. Siddik</td>
    </tr>
    <tr>
        <td>Wartawan</td>
        <td>:</td>
        <td>Khofifah, Viqri FS.</td>
    </tr>
    <tr>
        <td>IT</td>
        <td>:</td>
        <td>Firman A.</td>
    </tr>
    <tr>
        <td>Penerbit</td>
        <td>:</td>
        <td>PT. Kabar Digital Media</td>
    </tr>
    <tr>
        <td>Alamat Redaksi</td>
        <td>:</td>
        <td>Perum Permai Asri Blok 4 Nomor 17, Desa/Kelurahan Kolor, Kec. Kota Sumenep, Kab. Sumenep, Provinsi Jawa Timur</td>
    </tr>
    <tr>
        <td>Telp</td>
        <td>:</td>
        <td>0877 2967 2707</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>:</td>
        <td>redaksi@kabarpemerintah.com</td>
    </tr>
</table>
</div>
{% endblock %}
