{% extends 'berita/base.html' %}
{% block content %}
<div class="container py-4">
    <h1>Tentang Kami</h1>
    <p><u><b>kabarpemerintah.com</b></u> merupakan portal berita online yang hadir ditengah kebutuhan akan informasi pemerintahan yang akurat dan kredibel di Indonesia. KabarPemerintah.Com menjadi solusi mitra pemberitaan strategis dari agenda-agenda penting pemerintahan yang terkadang tidak sepenuhnya dapat diakses oleh masyarakat luas.</p>
    <p>Dengan memanfaatkan perkembangan teknologi digital dan social media, kabarpemerintah.com Memastikan distribusi berita dapat diakses seluas luasnya oleh semua lapisan masyarakat dari berbagai kalangan.</p>
    <p>Berada dibawah naungan PT. Kabar Media Creativa Advertisindo, KabarPemerintah.Com berkantor di Kabupaten Sumenep, Provinsi Jawa Timur</p>
</div>
{% endblock %}
