{% load static %}
<footer class="bg-light py-4 mt-5 ps-3">
  <div class="">
    <div class="row">
      <div class="col-md-4">
          <img src="{% static 'images/logo.png' %}" style="height:50px; width:auto;" alt="Logo Kabarpemerintah" style="height: 50px;">
      </div>
      <div class="col-md-4">
          <h5>Informasi</h5>
          <ul class="list-unstyled">
              <li><a href="{% url 'berita:tentang' %}">Tentang Kami</a></li>
              <li> <a href="{% url 'berita:kode_etik' %}">Kode Etik</a></li>
              <li> <a href="{% url 'berita:pedoman' %}">Pedoman Media Cyber</a></li>
              <li><a href="{% url 'berita:kontak' %}">Kontak</a></li>
          </ul>
      </div>
      <!-- Media Sosial -->
      <div class="col-md-4 mb-3">
        <h5>Ikuti Kami</h5>
        <a href="https://facebook.com/namapage" class="me-3" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/namapage" class="me-3" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://instagram.com/namapage" class="me-3" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>

    <div class="text-center pt-3 border-top mt-3">
      <small>&copy; {{ now|date:"Y" }} Copyright © 2025 KabarPemerintah.com. All Right Reserved.</small>
    </div>
  </div>
</footer>
